<div class="header">
    <ul>
        <li>{{text.home}}</li>

        <li class="dropdown">
            Back-End
            <ul class="dropdown-menu">
                <li>Spring Boot</li>
                <li>NodeJs</li>
            </ul>
        </li>

        <li class="dropdown">
            Front-End
            <ul class="dropdown-menu">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Angular</li>
            </ul>
        </li>

        <li class="dropdown">
            Infra
            <ul class="dropdown-menu">
                <li>Docker</li>
            </ul>
        </li>

        <li class="dropdown">
            {{text.techniques}}
            <ul class="dropdown-menu">
                <li>TDD</li>
                <li>{{text.agility}}</li>
                <li>User Stories</li>
                <li>Scrum</li>
                <li>{{text.documentation}}</li>
            </ul>
        </li>

        <li class="dropdown">
            {{text.aboutMe}}
            <ul class="dropdown-menu">
                <li>{{text.aboutMe}}</li>
            </ul>
        </li>
    </ul>
</div>